.details-modal {
  width: 50%;
  background: white;
  position: static;
  margin: auto;
  border-radius: 8px;
}

.title-table {
    width: 100%;
}

.name-table {
    width: 100%;
    border: {
      bottom: 0 solid black;
    }
}

.table-header {
    border: {
      bottom: 1px solid black;
    }
    font-size: 16px;
    padding: {
      left: 4px;
      right: 0;
      top: 6px;
      bottom: 6px;
    }
}

.table-data {
    font-size: 16px;
    padding: {
      left: 4px;
      right: 0;
      top: 6px;
      bottom: 6px;
    }
}

hr {
  margin-top: 0;
  background-color: black;
  height: 1px;
  border: none;
  max-width: 100%;
}

.title-edit-button {
  float: right;
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  padding: {
    top: 7px;
    bottom: 4px;
    left: 0;
    right: 0;
  }
}

.title-delete-button {
  float: right;
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  padding: {
    top: 4px;
    bottom: 4px;
    left: 0;
    right: 12px;
  }
}

.header-button {
  float: right;
  display: flex;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  padding: {
    top: 0;
    bottom: 0;
    left: 0;
    right: 20px;
  }
}

.table-button {
  float: right;
  font-size: 50px;
  display: flex;
  text-align: center;
  margin: auto;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  padding: {
    top: 0;
    bottom: 20px;
    left: 0;
    right: 7px;
  }
}

.text-style {
  font-size: 24px;
  padding: {
    right: 10px
  }
}

.caption-style {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}
