@import 'variables';

.action-button {
    font-size: 22px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
    padding: {
        top: 8px;
        bottom: 8px;
        right: 10px;
    }
}

.close-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
    align-content: end;
    font-size: 30px;
    padding: {
        left: 8px;
        bottom: 8px;
    }
}
