@import 'variables';

$header-height: 0;

.dog-table {
  margin-top: 2rem;
  padding-top: calc(#{$header-height} + 1px); // 1px for border of header
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  &--fixed {
    align-content: center;
    border-bottom: 1px solid $fog;
    left: 0;
    position: fixed;
    top: 1px;
    height: 50px;
    z-index: 1;
    background-color: #009879;
    color: #ffffff;
  }

  &--body {
    background-color: black;
  }

  &__row {
    background-color: $snow;
    transition: background-color 0.15s;

    &:hover {
      background-color: $pearl;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $pearl;
    }
  }

  &__header {
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 600;
    height: $header-height;
    text-align: center;
    align-content: center;
    color: black;
  }

  &__button {
    text-align: center;
    width: 4rem;
  }
}

.styled-table {
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  z-index: 1;
  position: fixed;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
